
/*Main brown #9d8d56 */

html{
	margin-left: 12px;
	margin-right: 12px;
}

*{
	box-sizing: border-box;

}
.full-row{
	width: 100%;
  margin-right: auto;
  margin-left: auto;
  
}
.row{
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

@media only screen and (min-width:260px){
	.col-1{
		float: left;
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.col-2{
		float: left;
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.col-3{
		float: left;
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.col-4{
		float: left;
		width: 99%;
		margin-left: 1%;
		margin-right: 1%;
	}
	.responsive-list-container{
		margin-left: 0 !important;
		border-left: none;
	    padding-left: 10px;
	    text-align: center;
	    padding: 0;
	}
	.search-container{
		padding-top: 10px;
	}
	.homepage-icon{
		display: none;
	}

}

@media only screen and (min-width:540px){
	.col-1{
		float: left;
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.col-2{
		float: left;
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.col-3{
		float: left;
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.col-4{
		float: left;
		width: 40%;
		margin-left: 5%;
		margin-right: 5%;
	}
	.homepage-icon{
		display: block;
	}
	
}

@media only screen and (min-width:768px){
	.col-1{
		float: left;
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.col-2{
		float: left;
		width: 45%;
    	margin-left: 2.5%;
    	margin-right: 2.5%;
	}
	.col-3{
		float: left;
		width: 28.3%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.col-4{
		float: left;
		width: 20%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.responsive-list-container{
		margin-left: 0 !important;
		border-left: 2px solid #c0ab73;
	    padding-left: 10px;
	    text-align: left;
	}
	.search-container{
		margin-top: 50px;
	}
}

@media only screen and (min-width:1024px){
	.col-1{
		float: left;
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.col-2{
		float: left;
		width: 45%;
    	margin-left: 2.5%;
    	margin-right: 2.5%;
	}
	.col-3{
		float: left;
		width: 28.3%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.col-4{
		float: left;
		width: 20%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
}