html{
	min-height:100%;
	width: 100%;
  	margin: auto;
  	background-color: #f1f1f1;
  	text-align: center;
  	font-family: "Market Sans",Arial,sans-serif;
	
}

main{
	margin-top: 120px;
}

h1,h2,h3,h4,h5{
	color: black;
}

.logo{
	clear: both;
}

.submitButton{
	width: 40%;
	background-color: #84734b;
}

.searchButton:hover,.submitButton:hover{
	border-color: #f2e69b;
	color: #f2e69b;
	background-color: #84734b;
	cursor: pointer;

}
.searchButton{
	background-color: #c0ab73;
	font-size: 20px;
}

.title{
	font-size: 48px;
	color: yellow;
	text-shadow: 1px 1px black;
	position: absolute;
    right: 73%;
    top: 10%;
    margin: auto !important;
    font-size: 28px;
}

.description{
	font-size: 18px;
	color: #9d8d56;	
}

.description-list{
	list-style-type: none;
}

nav{
	align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    background: #e2e2e2;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.066);
    box-sizing: border-box;
    height: 90px;
    margin-bottom: 40px;
    box-shadow: 0px 5px 8px grey;
}
.nav-signin{
	position: relative;
	top: 20px;
}
.navTitle{
	float: left;
	margin-left: 5%;
}

.title{
	clear: right;
	text-align: center;
}

.hoo-logo{
	height: 50px;
}

.homepage-icon{
	float: left;
    margin-left: 50px;
    height: 100%;
    padding: 15px;
}

.hooisit-logo{
	height: 200px;
	margin-left: auto;
    margin-right: auto;
}

.js-search-form,.js-submit-form{
	text-align: center;
}

.js-search-form{
	margin-top: 15px;
}

.js-search-form label{
	font-size: 20px;
	color: #9a8c62;
}

.signup-link{
	color: blue;
}

.signin-link{
	color: blue;
}

.guest-info{
	padding-top: 15px;
}

.js-register-form,.js-signin-form{
	padding-left: 14px;
    padding-right: 14px;
	margin: 20px;
	text-align: left;
	background-color: #f3f3f3;
}

.js-register-form label, .js-signin-form label{
	font-weight: bold;
	color: black;

}

.js-phone-number{
	font-weight: bold;	
	font-size: 18px;
}

.register-link{
	color: blue;
	text-shadow: none;
}

.register-link:hover,.signup-link:hover,.signin-link:hover{
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
}

.register-title{
	color: black;
}

.avatar{
	width: 25%;
    border-radius: 50%;
}

.js-user-info{
    margin-top: 30px;
    margin-right: 12px;
}

.js-user-name{
	margin-right:12px;
}

.login-signup-container p{
	display: inline-block;
}

.login-signup-container{
	float: right !important;
}

.cancel-signup{
	display: block;
	margin-left: 12px;
    padding: 10px 18px;
    background-color: #ff5f1f;
}

.cancel-signup:hover{
	opacity: 0.6;
	cursor: pointer;
}

.js-register-form input,.js-signin-form input{
	width: 100%;
    padding: 12px 25px;
	font-size: 15px;
	border: 1px solid #c1c1c1;
}

label p{
	margin: 0;
    margin-top: 10px;
    text-align: left;
    margin-left: 5px;
}

.call-type-container,.label-container{
	margin-bottom: 15px;
}

.comment-label{
	margin-top: 12px;
	margin-bottom: 12px;
}

.float-right{
	
}

.js-submit-comment{
	width: 100%;
	height: 60px;
	margin-top: 14px;
	margin-bottom: 14px;
	font-size: 20px;
	border: 1px solid black;
}

.sign-in-label{
	color: #9a8c62;
}

label{
	color: black;
	text-align: center;
}

.js-register-button,.signInButton{
	background-color: #93f18e;
	margin-top: 12px;
}

.js-register-button:hover,.signInButton:hover{
	cursor: pointer;
	background-color: #62e85b;
}

.register-bottom-container{
	margin-top: 15px;
	background-color: grey;
}

.searchBar,.searchButton{
	height: 48px;
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: center;
	transition: all .1s linear;
	width: 100%;
}

.searchBar{
	font-size: 20px;
}

.js-submit-form{
	background-color: lightgrey;
	padding: 12px;
}

.js-results{
	margin-top: 12px;
	background-color: lightgrey;
	padding: 12px;
}

.js-signup-popup-window{
  background-color: #f3f3f3;
  z-index: 20;
  height: 60%;
  width: 90%;
  max-width: 450px;
  overflow: auto;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  border: 1px solid grey;
}

.js-signin-popup-window{
  background-color: #f3f3f3;
  z-index: 20;
  height: 33%;
  width: 90%;
  max-width: 450px;
  overflow: auto;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  border: 1px solid grey;
}

/* The close button (x) */
.close {
    position: absolute;
    right: 25px;
    top: -21px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.inline{
	display: inline-block;
}

.notification-container{
	background-color: lightgrey;
}

.notification-container p{
	display: inline-block;
}

.result-header{
	display: inline-block;
}

.user-comments{
	background-color: lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-number{
	text-decoration: none;
	color: blue;
}

.profile-number:hover{
	font-weight: bold;
}

.comment-header{
	font-size: 20px;
	color: white;
}
/* Comment of a phone number, listed via renderresults function in index.js */
.comment{
	font-size: 18px;
	position: relative;
    top: 12px;
    z-index: 3;
}

.commenter{
	font-size: 12px;
	position: relative;
    top: 12px;
    z-index: 3;
}

.commentBlock{
	text-align: center;
	margin: auto;
	margin-bottom: 18px;
	border-radius: 15px;
	background-color: #f3efdb;
	width: 90%;
	max-width: 700px;
}

.commentBlock:after{
	content: '';
	position: relative;
	bottom: -30px;
    left: 35px;
	width: 0;
	height: 0;
	border: 39px solid transparent;
	border-top-color: #f3efdb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -19px;
	margin-bottom: -38px;
}

.backFade{
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
}

.js-delete-user{
	margin-top: 12px;
	-webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.js-delete-user:hover {
    background-color: #f44336;
    color: white;
}






